.socios-list-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.socios-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Rows */

.socios-list-row {
    display: flex;
    width: 100%;
}

.socios-list-row:nth-child(odd) {
    background-color: var(--background-contrast);
}

.socios-list-row:first-child {
    font-weight: bold;
}

.socios-list-row:hover {
    background-color: color-mix(in srgb, var(--primary-color), var(--background-contrast) 95%);
    cursor: pointer;
}

.socios-list-row > span {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
}

.socios-list-row > span:nth-child(1),
.socios-list-row > span:nth-child(4) {
    flex: 0.15;
}

.socios-list .no-socios {
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: var(--font-light);
    font-size: 0.9rem;
}

/* Componentes hijos */

.socios-list-side-panel {
    min-width: 350px;
    padding: 1rem;
    background-color: var(--background-contrast);
}

.socios-list-side-panel .filters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.socios-list-side-panel .barrios-filter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.socios-list-side-panel .etiquetas {
    gap: .5rem;
}

.socio-panel {
    --socio-panel-default-height: 400px;

    z-index: 1;
    width: 100%;
    min-height: var(--socio-panel-default-height);
    background-color: var(--background-contrast);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    display: flex;
}

.socio-details-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.socio-panel-section-container {
    width: 100%;
}

.socio-panel-section-container .socio-details-data {
    flex: 0.6;
}

.socio-panel-section-container .socio-details-misc {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socio-panel .documentos {
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.socio-panel .documentos .buttons {
    display: flex;
    flex-wrap: wrap;
}

.socio-panel .documentos button {
    flex: 0.5;
}

.socio-panel .doc-preview,
.socio-panel .doc-preview img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
}

.socio-panel .doc-preview.empty {
    background-color: var(--background-main);
    color: var(--font-light);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-style: italic;
    border: 1px dashed var(--font-light);
}

.socio-panel .etiquetas > span {
    font-size: 0.9rem;
    color: var(--font-light);
    text-align: center;
}

.socio-panel .etiquetas button {
    width: 24px;
    height: 24px;
    border: 2px solid var(--primary-color);
    border-radius: 0.75rem;
}

/* Sección de notas */

.socio-notas-container {
    height: var(--socio-panel-default-height);
    display: flex;
    flex-direction: column;
}

.socio-notas-container .notas {
    flex: 1;
    overflow-y: scroll;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.socio-notas-container .socio-nota-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    justify-self: flex-end;
}

.socio-notas-container .socio-nota-input button {
    height: 100%;
}

.socio-notas-container .socio-nota {
    display: flex;
    align-items: center;
    font-family: monospace;
    box-shadow: var(--shadow3);
    padding: .5rem;

    word-break: break-all;
    min-height: 35px;
}

.socio-notas-container .socio-nota > p {
    flex: 1;
}

.socio-notas-container .socio-nota > button {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 .5rem;
    background-color: transparent;
    color: var(--font-light);
}

.socio-notas-container .socio-nota.empty {
    color: var(--font-light);
}

/* Acciones del panel*/

.socio-panel-actions-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.socio-panel-actions-container button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.25rem 0;
    background-color: var(--background-main);
}

.socio-panel .etiquetas .etiquetas-list {
    position: absolute;
    background-color: var(--background-contrast);
    border: 1px solid var(--primary-color);
    box-shadow: var(--shadow3);
    border-radius: 0.25rem;
    padding: 0.5rem;
    z-index: 10;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

@media (max-width: 1000px) {
    .socios-list-container {
        flex-wrap: wrap;
    }

    .socios-list-side-panel {
        min-width: 350px !important;
        width: 100%;
        min-width: 0;
    }

    .socios-list-container > .col {
        min-width: 350px !important;
    }
}

@media (max-width: 600px) {
    .socio-panel-section-container {
        flex-direction: column;
    }

    .socio-panel-section-container .socio-details-data,
    .socio-panel-section-container .socio-details-misc {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
