.socio-editor-container {
    border-top: 1px solid var(--background-main);

    display: flex;

    min-height: 300px;
    width: 100%;
    background-color: var(--background-contrast);
}

.socio-editor {
    padding: 1rem;
    width: 100%;
}

.socio-editor-container .editor-buttons {
    border: 1px solid var(--background-main);

    padding: .25rem;

    height: calc(100% - .5rem);
    min-width: calc(50px - .5rem);

    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;

}

.editor-buttons button {
    width: 28px;
    height: 28px;
    color: var(--font-primary);
}

.socio-editor .data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.socio-editor .socio-data {
    width: 250px;
    display: flex;
    flex-direction: column;

}

.socio-editor .data-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socio-data {
    border-bottom: 1px solid var(--background-main);

    padding-top: 1.5rem;
    padding-bottom: .5rem;
    margin-right: 2rem;
    text-align: start;
}

.socio-data > div {
    height: var(--input-height);

    font-size: 14px;

    display: flex;
    align-items: center;
}

.socio-editor .socio-data h3 {
    margin-top: 5px;
}

.socio-editor .no-data {
    margin-top: 5px;
    font-weight: normal;
    color: var(--font-light);
}

.file-upload {
    border: 2px dashed #15367b;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 20px;
    margin-top: 30px;

    background-color: #2d2d2d;
    color: white;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .socio-editor .data-container{
        width: 100%;
    }
}