.header {
    --header-color1: color-mix(in srgb, var(--primary-color), var(--background-main) 10%);
    --header-color2: color-mix(in srgb, var(--background-main), rgba(0, 0, 0, 0.151) 10%);

    height: var(--header-height);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: var(--background-contrast);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header .buttons {
    display: flex;
    align-items: center;
    height: 100%;   
}

.header img {
    width: 28px;
    height: 28px;
    margin-right: 0.1rem;
}

.header .logo {
    background-color: transparent;
    font-size: 1.25rem;
}.header button {
    height: 100%;
    margin: 0;
    padding: 0 1rem;
    border-radius: 0;
    background-color: transparent;
    font-weight: bold;
    box-shadow: none;

}