:root {
    --header-height: 60px;

    --background-main: rgb(29, 27, 30);
    --background-contrast: rgb(37, 38, 41);
    --background-highlight: rgb(47, 49, 56);

    --font-primary: #f8f8f8;
    --font-light: #f8f8f88b;
    --primary-color: #15367b;

    --shadow1: 10px 10px 20px rgba(0, 0, 0, 0.5);
    --shadow2: 10px 10px 20px rgba(0, 0, 0, 0.2);
    --shadow3: 4px 4px 4px rgba(0, 0, 0, 0.15);

    --input-height: 32px;
    --button-height: 32px;

    background-color: var(--background-main);
    color: var(--font-primary);

    font-family: Arial, Helvetica, sans-serif;
}

body,
html,
#root {
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--background-main);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

input, select, textarea {
    border: 0px;
    
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;

    padding: 0.5rem;
    margin: 0px;

    width: 100%;
    height: var(--input-height);
}

textarea {
    resize: none;
    overflow-y: hidden;
    height: auto;
    min-height: var(--input-height);
    field-sizing: content;
}

input[type="checkbox"] {
    width: var(--input-height);
    height: var(--input-height);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="color"] {
    background-color: transparent;
    height: 32px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

select option {
    background-color:var(--background-main)
}

button {
    border: 0px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: var(--primary-color);
    box-shadow: var(--shadow3);
    color: var(--font-primary);
    padding: .5rem 1rem;

    height: var(--button-height);

}

button:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--primary-color), white 10%);
        transition: all 0.05s ease-in-out;

}

button:disabled {
    background-color: var(--background-contrast);
    color: var(--font-light);
    cursor: not-allowed;
}

.main-container {
    width: 80%;
}

.window-layer{
    position: absolute;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(2px);
    cursor: pointer;
}

.window {
    width: 90%;
    padding: 2rem;
    max-width: 800px;
    background-color: var(--background-contrast);
    border-radius: .5rem;
    cursor: default;
}

.form-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.form-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;
    height: 50px;
}

.window .form-row > div {
    flex: 1;
}

.window .form-row button {
    flex: 1;
}

.selected {
    z-index: 10;
    box-shadow: 0 0 0 1px var(--primary-color);
    background-color: color-mix(in srgb, var(--primary-color), var(--background-contrast) 80%) !important;
}

.info-text {
    color: var(--font-light);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.col50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col33 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1000px) {
.window {
        scale: 0.9;
    }

    .window .form-row {
        margin-bottom: 0.5rem;
    }

    .window .form-row.wrap {
        flex-direction: column;
    }

    .window .form-group {
        margin-bottom: 0;
    }
}